.transport{
    color: rgb(0, 0, 0);
    position: absolute;
    width: 100%;
    bottom: 0px;
    display:inline-block;
    background-color: white;
}

.currentMix{
    font-family: "ABC Medium";
    font-size: 30px;
    padding: 3px;
    padding-bottom: 40px;
    padding-left: 60px;
    display:inline-block;
}

.blackLine {
    background-color: black;
    position: absolute;
    width: 3px;
    height: 59px;
    left: 195px;
    bottom: 15px;
}

.currentTime{
    font-family: "ABC Medium";
    font-size: 30px;
    padding: 3px;
    padding-bottom: 40px;
    padding-left: 20px;
    display:inline-block;
}

.playPause {
    padding-left: 23px;
    padding-top: 7px;
    position: absolute;
}

@font-face {
    font-family: "Founders Semibold";
    src: local("FoundersGroteskCondensed-Semibold.otf"),
    url("../../../fonts/FoundersGroteskCondensed-Semibold.otf") format("truetype");
}

@font-face {
    font-family: "ABC Medium";
    src: local("ABCFavoritMonoEdu-Medium."),
    url("../../../fonts/ABCFavoritMonoEdu-Medium.otf") format("truetype");
}