.transport{
    background-color: #242424;
    position: absolute;
    width: 100%;
    bottom: 0px;
    display:inline-block;
    background-color: #F1F1F1;
}

.currentMix{
    font-family: "ABC Medium";
    font-size: 30px;
    padding: 3px;
    padding-bottom: 40px;
    padding-left: 60px;
    display:inline-block;
    color: #242424;
}

.blackLine {
    background-color: #242424;
    position: absolute;
    width: 3px;
    height: 59px;
    left: 195px;
    bottom: 15px;
}

.currentTime{
    font-family: "ABC Medium";
    color: #242424;
    font-size: 30px;
    display:inline-block;
    padding: 0px;
}

.playPause {
    padding-left: 23px;
    padding-top: 7px;
    position: absolute;
    color: #242424;
}

.currentInfo{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 15px;
    left: 210px;
}

.currentSong{
    font-family: "ABC Medium";
    color: #242424;
    font-size: 15px;
    line-height: 10px;
    padding: 0px;
    margin: 0px;
}

.currentArtist{
    font-family: "ABC Medium";
    color: #242424;
    font-size: 10px;
    padding: 0px;
    margin: 0px;
 
}

@font-face {
    font-family: "Founders Semibold";
    src: local("FoundersGroteskCondensed-Semibold.otf"),
    url("../../../fonts/FoundersGroteskCondensed-Semibold.otf") format("truetype");
}

@font-face {
    font-family: "ABC Medium";
    src: local("ABCFavoritMonoEdu-Medium."),
    url("../../../fonts/ABCFavoritMonoEdu-Medium.otf") format("truetype");
}