.title {
    font-family: "Founders Semibold";
    font-size: 100px;
    text-align: left;
    padding-left: 5px;
}

.pauseToggle {
    font-family: "ABC Medium";
    font-size: 20px;
    text-align: left;
    background: none;
	color: inherit;
	border: none;
	cursor: pointer;
	outline: inherit;
}

img {
    width: 100%;
}

.duration { 
    font-family: "ABC Medium";
    font-size: 20px;
    text-align: left;
}

.bottomRow {
    display: flex;
    justify-content: space-between;
}

.current {
    width: 30%;
    padding-left: 35px;
    position: absolute;
    top:50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@font-face {
    font-family: "Founders Semibold";
    src: local("FoundersGroteskCondensed-Semibold.otf"),
    url("../../../fonts/FoundersGroteskCondensed-Semibold.otf") format("truetype");
}

@font-face {
    font-family: "ABC Medium";
    src: local("ABCFavoritMonoEdu-Medium."),
    url("../../../fonts/ABCFavoritMonoEdu-Medium.otf") format("truetype");
}