.mobileAbout{

    padding: 0px;
    padding-bottom: 10px;
    padding-left: 5%;
}

.mobileAboutButton{
    font-family: "ABC Medium";
    font-size: 20px;
    padding: 0px;
    background: none;
	color: inherit;
	border: none;
	cursor: pointer;
	outline: inherit;
    background-color: white;
}

.mobileAboutText{
    text-align: left;
    font-family: "ABC Medium";
    font-size: 14px;
    line-height: 4px;

    z-index: 1;
    background-color: white;
}

@font-face {
    font-family: "Founders Semibold";
    src: local("FoundersGroteskCondensed-Semibold.otf"),
    url("../../../fonts/FoundersGroteskCondensed-Semibold.otf") format("truetype");
}

@font-face {
    font-family: "ABC Medium";
    src: local("ABCFavoritMonoEdu-Medium."),
    url("../../../fonts/ABCFavoritMonoEdu-Medium.otf") format("truetype");
}