.mobileCurrentPlaying{
    padding-top: 80px;
    padding-left: 5%;
    padding-right: 5%;
    color: #242424;
}

.mobilePlayPause{
    padding-top: 4px;
    color: #242424;
}

.mobileCurrentTime{
    font-family: "ABC Medium";
    font-size: 30px;
    padding-left: 10px;
    color: #242424;
}

.mobileBlackLine{
    background-color: #242424;
    width: 3px;
    height: 69px;
    margin-left: 10px;
    margin-top: 5px;
    color: #242424;
}

.mobileCurrentMix{
    font-family: "ABC Medium";
    font-size: 30px;
    padding-left: 10px;
    color: #242424;
}

.mobileControl
{
    display: flex;
    justify-content: left;
}



@font-face {
    font-family: "Founders Semibold";
    src: local("FoundersGroteskCondensed-Semibold.otf"),
    url("../../../fonts/FoundersGroteskCondensed-Semibold.otf") format("truetype");
}

@font-face {
    font-family: "ABC Medium";
    src: local("ABCFavoritMonoEdu-Medium."),
    url("../../../fonts/ABCFavoritMonoEdu-Medium.otf") format("truetype");
}