.mobileTracklist {
    padding-top: 40px;
padding-left: 5%;
padding-bottom: 20px;
}

.mobileSong {
    font-family: "ABC Medium";
    font-size: 15px;
    margin: 0px;
    padding: 0;
    line-height: 0px;
    padding-top: 10px;
    padding-bottom: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #242424;
}

.mobileArtist {
    font-size: 12px;
    padding: 0;
    font-family: "ABC Medium";
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #242424;
}

.mobileTracklistButton {
    font-family: "ABC Medium";
    font-size: 20px;
	color: inherit;
	border: none;
	cursor: pointer;
    padding: 0px;
    background-color: #F1F1F1;
    align-items: left;
    text-align: left;
    color: #242424;
}
